# si la carpeta se encuenrtra en el directorio raiz del proyecto esta es la forma correcta de ignorarlo
/folder_nope
# si el  archivo se encuentra en el directorio raiz del proyecto esta es la forma correcta de ignorarlo
/nope_file.ltx 
